   .phandau {
  background-color:#00008B;
  text-align: center;
  padding: 30px; 
  font-size: 50px;
  }
a{
background-color: #4169E1;
color:white;
text-decoration: none;
 }

.box:hover {
  background-color: #0000CD;;
  font-size: 20px;
}
.noidung{}
.gioithieu{
  background-color: #191970;
}
.box{
  margin:10px;
  padding: 20px;
}
