   .header {color: DarkBlue; background-color: gray; text-align: center; padding: 30px;}
   .menu {color: GhostWhite; background-color: LightBlue;display: block;}
   .menu a {background-color:LightCyan;}   
   .menu a hover{color: HoneyDew;padding: 20px;}
   .noidung {background-color: gray;}
