<html> {
  height: 100%;
  width: 100%;
}
h1
{
  color: red;
  font-family:"arial";
  <style>
      .header {color: light-blue; background-color: gray; text-align: center; padding: 30px;}
      .menu {color: tomato; background-color: yellow;}
      .menu a {}
      .menu a: hover{color: pink;}
      .noidung {background-color: gray;}
    </style>
}
</html>
